@charset "UTF-8";

:root {
    --verd: #49a09d;
    --lilas: #5f2c82;   
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to bottom, var(--lilas), var(--verd));
    height: 100vh;
    width: 98vw;
}

main {
    height: 100vh;
    width: 100vw;
}

#login-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    height: 500px;
    width: 300px;
}

#form > h1 {
    text-align: center;
}

#form > p {
    text-align: center;
}

.conf {
    background-color: #5f2c82;
    border-radius: 10px;
    width: 220px;
    margin: 10px auto;
    padding: 2px 0px 2px 29px;
}

#conf12 {
    margin: -20px auto;
}

#us {
    margin: 0px 0px 0px -25px;
    padding: 5px;
}

#us1 {
    margin: 0px 0px 0px -25px;
    padding: 5px;
}

#iusername {
    border-radius: 10px;
    margin: 0px 0px 0px 5px;
    border: none;
    padding: 10px 5px 10px 10px;
    width: 177px;
    transition-duration: 0.5s;
}

#iuserpass {
    border-radius: 10px;
    margin: 0px 0px 0px 3px;
    border: none;
    padding: 10px 5px 10px 10px;
    width: 177px;
}

#submit {
    border: none;
    border-radius: 15px;
    background-color: var(--verd);
    color: white;
    font-size: 1.2em;
    margin: 10px 40px 30px 40px;
    width: 220px;
    height: 50px;
    transition-duration: 0.5s;
}

#submit:hover {
    transition-duration: 0.5s;
    background-color: #5cc9c5;
    box-shadow: 1px 1px 4px #49a09d;
    cursor: pointer;
}

a {
    border: 1px solid var(--verd);
    border-radius: 15px;
    color: black;
    margin: 0px 0px 0px 40px;
    padding: 15px 35px 15px 35px;
    height: 50px; 
    text-decoration: none;
    transition-duration: 0.5s;
}

a:hover {
    transition-duration: 0.5s;
    background-color: #49a09d;
    box-shadow: 1px 1px 4px #5cc9c5;
    color: white;
}

img {
    min-width: 300px;
    max-height: 160px;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}